.account .search-block {
	background-image: url('/images/common/header-bg.jpg') !important;
	/*background-image: none !important;*/
	background-color: #8ac1dd;
	border-bottom: 4px solid #016367;
	/*border-bottom: 4px solid #176f9e;*/
	padding: 50px 0 !important;
}

.account .search-block:before {
	background: none;
}

.account .profile-image {
	width: 150px;
	height: 150px;
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 150px;
	margin: 0 auto 20px;
	overflow: hidden;
}

.account .profile-image i {
	color: #2e3d50;
	font-size: 185px;
	text-align: center;
	display: block;
}

.account .donation-info-block {
	background-color: #e8e8e8;
}

.account .donation-info-block .service-heading,
.account .donation-info-block .counter {
	color: #222;
}

.account .search-block h1 {
	/*color: #222;*/
	text-align: center !important;
	text-transform: none;
}