.profile .profile-body {
	padding: 0;
}

.donate-box {
	border: 1px solid #e0e4fb;
}

.donate-box .donate-info {
	padding: 15px 20px;
	background-color: #F8F9FD;
	border-radius: 2px;
}

.donate-box .donate-amount {
	color: #586BE9;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 20px;
}

.donate-box .reward-title {
	font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}

.donate-box .reward-info {
	color: #80809E;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.charity-header {
	margin-bottom: 20px;
}

.charity-header .charity-logo {
	width: 80px;
	border-radius: 80px;
	margin-right: 15px;
	float: left;
}

.charity-header .charity-info {
	width: 88%;
	float: left;
}

.charity-header .charity-info .name-location {
	font-size: 14px;
}

.charity-header .charity-short-desc {
	font-size: 14px;
}

.charity-header .charity-short-desc.display-mobile {
	display: none;
}

/*.charity-header .charity-info > .charity-name {
	font-size: 32px;
	font-weight: normal;
	color: #020621;
	position: static;
	padding: 0;
	height: auto;
	line-height: 40px;
	margin-bottom: 10px;
}*/

.charity-header .charity-info > p.charity-short-desc {
	font-size: 16px
}

.img-charity-banner {
	width: 100%;
	height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #444;
}

/*.service-block-v3.donation-box {
	border-top: 4px solid #05AF3C;
}*/

.service-block-v3.donation-box .icon-users,
.service-block-v3.donation-box .service-heading,
.service-block-v3.donation-box .statistics .heading-xs {
	color: #000;
}

.service-block-v3.donation-box .counter {
	color: #05AF3C;
}

.service-block-v3 .statistics .progress-bar-light {
	background-color: #05AF3C;
}

.service-block-v3 .btn-u {
	width: 100%;
	line-height: 30px;
	background-color: #05AF3C;
}

.service-block-v3 .btn-u:hover {
	background-color: #05AF3C;
}

.service-block-v3 .sub-label {
	color: #626369;
	font-size: 14px;
}

.service-block-v3 .statistics small {
	color: #000;
}

.service-block-v3.donation-box > i {
	color: #000;
}

.news-v3 .news-v3-in-sm {
	border: 1px solid #E8E8E8;
	background-color: #ececec;
}

.news-v3 .full-width {
	height: 200px;
}

.news-v3 p {
	height: 60px;
	overflow: hidden;
}

/*.news-v3 .news-image-wrapper {
	position: relative;
	height: 400px;
}

.news-v3 .news-image-wrapper .fixed-bottom-content {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: rgba(20,27,32,.5);
	padding: 10px;
}

.news-image-wrapper .fixed-bottom-content > h2 {
	margin: 0;
	line-height: 20px;
}

.news-image-wrapper .fixed-bottom-content h2 > a {
	margin-right: 10px;
}

.news-image-wrapper .fixed-bottom-content h2 a {
	color: #fff;
	font-size: 18px;
}

.news-image-wrapper .fixed-bottom-content p {
	color: #fff;
	font-size: 14px;
	margin: 0;
}*/

.news-v3 .service-block-v3 {
	padding: 0;
}

.new-title img {
	width: 30px;
	border-radius: 30px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .charity-header .charity-info {
  	width: 80%;
  }
}

@media only screen and (max-width : 480px) {

	.service-block-v3.donation-box {
		padding: 20px 0;
	}

	.charity-header .charity-logo {
		width: 60px;
	}

  .charity-header .charity-info {
		width: 75%;
	}

	.charity-header .charity-info > p.charity-short-desc {
		display: none;
	}

	.charity-header .charity-short-desc.display-mobile {
		display: block;
	}

}

@media only screen and (max-width : 320px) {

  .charity-header .charity-info {
		width: 70%;
	}

	.charity-header .charity-info > .charity-name {
		font-size: 20px;
	}

}