.charity.index {
	margin-top: 40px;
}

.charity.list {
	/*background-color: #3b3e48;*/
	/*background-color: #b5d0d4;*/
	/*background-color: #fd5c3d;*/
	/*background-image: #47528f;*/
	/*background-color: #2e3d50;*/
	/*background-color: #20252f;*/
	/*background-color: #1f4b8e;*/
	/*background-color: #489565;*/
	/*background-color: #e7edef;*/
}

.list .search-block {
	background-image: url('/images/common/bbb.jpg');
	/*background-color: #17A1E5;*/
	padding: 40px 0;
}

.tagging-item {
	color: #353535;
	margin-right: 15px;
	display: inline-block;
}

.tagging-item .location-name i {
	color: rgb(53,53,53);
	margin-right: 6px;
	padding: 4px 8px;
	background-color: rgb(230,231,232);
}

.donate-box {
	border: 1px solid #e0e4fb;
}

.donate-box .donate-info {
	padding: 15px 20px;
	background-color: #F8F9FD;
	border-radius: 2px;
}

.donate-box .donate-amount {
	color: #586BE9;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 20px;
}

.donate-box .reward-title {
	font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}

.donate-box .reward-info {
	color: #80809E;
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.charity-header {
	margin-bottom: 20px;
}

.charity-header .charity-logo {
	width: 80px;
	/*border-radius: 80px;*/
	margin-right: 15px;
	float: left;
}

.charity-header .charity-info {
	width: 100%;
	float: left;
}

.charity-header img + .charity-info {
	width: 88%;
}

.charity-header .charity-info .location-name {
	font-size: 14px;
}

.charity-header .charity-short-desc {
	font-size: 14px;
}

.charity-header .charity-short-desc.display-mobile {
	display: none;
}

.charity-header .charity-info > p.charity-short-desc {
	font-size: 16px
}

.image-thumbnail {
	width: 100%;
	height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #444;
}

.index .donation-box {
	padding: 0;
}

.donation-box .alert.alert-danger i {
	color: #a94442;
  float: left;
  font-size: 24px;
  margin: 0 10px 0 0;
}

.donation-box .service-heading {
	font-size: 14px;
}

.donation-box .icon-users,
.donation-box .service-heading,
.donation-box .statistics .heading-xs {
	color: #000;
}

.donation-box .counter {
	color: #05AF3C;
	font-size: 24px;
	margin-top: 4px;
}

.donation-box .statistics .progress-bar-light {
	background-color: #05AF3C;
}

.donation-box .btn-u:hover {
	background-color: #05AF3C;
}

.donation-box .sub-label {
	color: #626369;
	font-size: 14px;
}

.donation-box .statistics small {
	color: #000;
}

.donation-box > i {
	color: #000;
}

.donation-box .btn-u.btn-custom {
	margin-bottom: 4px;
}

.donation-box .btn-share {
	color: #fff;
	border: 0;
	width: 34px;
	line-height: 34px;
}

.donation-box .btn-share > i {
	color: #fff;
	font-size: 14px;
	margin: 0;
	float: none;
}

.donation-box .btn-facebook.btn-share {
	background-color: #4863ae;
}

.donation-box .btn-twitter.btn-share {
	background-color: #46c0fb;
}

.donation-box .btn-googleplus.btn-share {
	background-color: #dd4a38;
}

.donation-box .btn-donation {
	background-color: #fff;
}

.donation-box .btn-donation:focus {
	color: #ff3617;
}

.donation-box .btn-donation:hover {
	color: #fff;
	background-color: #ff3617;
}

.new-title img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

.embedded-video {
	width: 100%;
	height: 380px;
}

.people-list-item .profile-image {
	width: 100px;
	height: 100px;
	background-color: #2e3d50;
	border: 1px solid #2e3d50;
	border-radius: 100px;
	margin: 0 auto 20px;
	overflow: hidden;
}

.charity-profile {
	padding: 50px 0 30px 0;
	background-color: #ECEFF1;
}

.charity-profile .charity-profile-logo {
	width: 120px;
	height: 120px;
	border: 1px solid #ddd;
}

.content-images-list .cbp-caption-zoom .cbp-caption-activeWrap {
	background-color: rgba(49, 72, 110, 0.5);
}

@media only screen and (max-width : 768px) {
  .charity-header img + .charity-info {
  	width: 80%;
  }
}

@media only screen and (max-width : 480px) {

	.charity.index {
		margin-top: 20px;
	}

	.charity-header .charity-logo {
		width: 60px;
	}

  .charity-header img + .charity-info {
		width: 78%;
	}

	.charity-header .charity-info > p.charity-short-desc {
		display: none;
	}

	.charity-header .charity-short-desc.display-mobile {
		display: block;
	}

	.embedded-video {
		height: 215px;
	}

	.index .donation-box {
		padding: 20px 15px;
		background-color: #e7edef;
	}

}

@media only screen and (max-width : 320px) {

  .charity-header img +  .charity-info {
		width: 70%;
	}

	.charity-header .charity-info > .charity-name {
		font-size: 20px;
	}

}