#address_form {
	display: none;
}

.donate .heading a {
	color: #555;
}

.sky-form .state-error + em {
	color: red;
	font-size: 13px;
}

.floating-label {
	position: relative;
}

.floating-label > .floating-label-box {
	position: absolute;
	top: 1px;
	left: 1px;
	/*width: 358px;
	height: 32px;*/
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	font-size: 14px;
	font-weight: 100;
	padding: 6px 12px;
	background-color: #fff;
}

.donate .invoice-header img {
	width: 60px;
}

.donation-code-box {
	margin-bottom: 40px;
}

.donation-code-box .donation-code {
	padding: 10px 25px;
	border: 1px solid #ddd;
	display: inline-block;
	background-color: #ececec;
}

.donation-search-block {
	padding: 20px 0;
}

.donation-search-block h1 {
	font-size: 28px;
}

@media only screen and (max-width : 480px) {
	.donation-code-box {
		margin-bottom: 20px;
	}

	.donate .btn-facebook-inversed {
		font-size: 14px;
	}

	.donation-search-block h1 {
		font-size: 24px;
	}
}

@media only screen and (max-width : 320px) {

	.select-group.half > label.select:nth-child(2) {
		margin-left: 0;
	}

	.donate .btn-facebook-inversed {
		font-size: 12px;
	}

	.donation-search-block h1 {
		font-size: 18px;
		margin: 10px 0;
	}

}