#address_form {
	display: none;
}

.donate .heading a {
	color: #555;
}

.sky-form .state-error + em {
	color: red;
	font-size: 13px;
}

.floating-label {
	position: relative;
}

.floating-label > .floating-label-box {
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	font-size: 14px;
	font-weight: 100;
	padding: 6px 12px;
	background-color: #fff;
}

.donate .invoice-header img {
	width: 60px;
}

.donation-code-box {
	margin-bottom: 40px;
}

.donation-code-box .donation-code {
	padding: 10px 25px;
	border: 1px solid #ddd;
	display: inline-block;
	background-color: #ececec;
}

.donation-search-block {
	padding: 20px 0;
}

.donation-search-block h1 {
	font-size: 28px;
}

.donation.share .navbar-brand {
	width: 100%;
}

.donation.share .navbar-brand img {
	max-height: 60px;
}

.donation.share .promo-section h3 {
	font-size: 35px;
	/*color: #ede9dd;*/
	/*background-color: rgba(2,239,179,.6);*/
	/*background-color: rgba(38,50,56,.6);*/
	/*background-color: rgba(1,139,90,.6);*/
	/*background-color: rgba(148,217,212,.6);*/
	/*color: #0D47A1;*/
	color: rgb(35,31,193);
	background-color: rgba(255,255,255,.8);
	/*border: 2px solid rgb(237,41,131);*/
	background-image: url(/images/logo/logo_2.png);
	background-position: 99% 10px;
	background-repeat: no-repeat;
	padding: 30px 15px;
	background-size: 80px;
	padding: 30px 15px;
}

.donation.share .promo-item:after {
	background: transparent;
	/*background: rgba(115,150,74,.2);*/
}

.donation.share .story-content {
	margin-top: -60px;
}

.donation.share img.charity-logo {
	width: 40px;
	height: 40px;
	margin-left: 4px;
}

@media only screen and (max-width : 480px) {
	.donation-code-box {
		margin-bottom: 20px;
	}

	.donate .btn-facebook-inversed {
		font-size: 14px;
	}

	.donation-search-block h1 {
		font-size: 24px;
	}

	.donation.share .promo-section h3 {
		font-size: 22px;
	}
}

@media only screen and (max-width : 320px) {

	.select-group.half > label.select:nth-child(2) {
		margin-left: 0;
	}

	.donate .btn-facebook-inversed {
		font-size: 12px;
	}

	.donation-search-block h1 {
		font-size: 18px;
		margin: 10px 0;
	}

	.donation.share .promo-section h3 {
		font-size: 20px;
	}

	.promo-item-content {
		top: 43%;
	}

}