.project-header {
	margin-bottom: 20px;
}

.project-header p {
	font-size: 16px;
}

.timeline-v2 .timeline-start {
	text-align: center;
	background-color: #072a16;
	background-image: url(/images/common/timeline-start.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
	padding: 50px 100px;
	border-radius: 6px;
}

.timeline-v2 .timeline-start > h4 {
	color: #444;
	font-size: 28px;
}

.timeline-v2 .timeline-start > p {
	color: #444;
}

.timeline-v2:before {
	background-color: #ddd;
}

.project-donation-info > .project-donation-item {
	width: 100%;
	margin-bottom: 20px;
}

.project .donation-box > i {
	color: #000;
	margin-right: 10px;
	font-size: 26px;
}

.project-donation-info > .project-donation-item .counter {
	font-size: 24px;
	color: #05AF3C;
}

.news-v3 .donation-box .counter {
	font-size: 18px;
}

.project-summary-info {
	font-size: 20px;
}

.project-summary-info .counter {
	color: #05AF3C;
}

@media only screen and (max-width : 480px) {

	.project-header p {
		font-size: 14px;
	}

	.timeline-v2 .timeline-start {
    width: 100%;
    padding: 40px 20px;
	}

	.timeline-v2 .timeline-start > h4 {
		font-size: 24px;
	}

	.project-donation-info > .project-donation-item .counter {
		font-size: 18px;
	}

	.project-summary-info {
		text-align: center;
	}

}