/*.project .quote-v1.project-header {
	background-image: url(/images/common/timeline-start.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
*/
.project-header {
	margin-bottom: 20px;
}

.project-header .project-name {
	font-size: 36px;
}

.project-header .project-short-desc {
	font-size: 16px;
}

.project-by-charity img {
	width: 30px;
	border-radius: 30px;
}

.project-by-charity > span{
	color: #000;
	margin-left: 1.2rem;
}

.service-block-v3.project-box > i {
	color: #000;
	margin-right: 10px;
	font-size: 26px;
}

.service-block-v3.project-box .icon-users,
.service-block-v3.project-box .service-heading,
.service-block-v3.project-box .statistics .heading-xs {
	color: #000;
}

.service-block-v3.project-box .counter {
	font-size: 24px;
	color: #05AF3C;
}

.timeline-v2 .timeline-start {
	text-align: center;
	background-color: #072a16;
	background-image: url(/images/common/timeline-start.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
	padding: 50px 100px;
	border-radius: 6px;
}

.timeline-v2 .timeline-start > h4 {
	color: #444;
	font-size: 28px;
}

.timeline-v2 .timeline-start > p {
	color: #444;
}

@media only screen and (max-width : 480px) {

	.project-header .project-name {
		font-size: 32px;
	}

	.project-header .project-short-desc {
		font-size: 14px;
	}

	.timeline-v2 .timeline-start {
    width: 100%;
    padding: 40px 20px;
	}

	.timeline-v2 .timeline-start > h4 {
		font-size: 24px;
	}

}