.project-header {
	margin-bottom: 20px;
}

.project-header .project-name {
	font-size: 36px;
}

.project-header .project-short-desc {
	font-size: 16px;
}

.project-by-charity img {
	width: 30px;
	border-radius: 30px;
}

.project-by-charity > span{
	color: #000;
	margin-left: 1.2rem;
}

.service-block-v3.project-box > i {
	color: #000;
	margin-right: 10px;
	font-size: 26px;
}

.service-block-v3.project-box .icon-users,
.service-block-v3.project-box .service-heading,
.service-block-v3.project-box .statistics .heading-xs {
	color: #000;
}

.service-block-v3.project-box .counter {
	font-size: 26px;
	color: #05AF3C;
}

@media only screen and (max-width : 480px) {

	.project-header .project-name {
		font-size: 32px;
	}

	.project-header .project-short-desc {
		font-size: 14px;
	}

}