.user-form > .user-form {
	width: 470px;
	padding: 55px;
	background-color: transparent;
}

.user-form > .user-form h2 {
	color: #000;
	font-size: 26px;
}

.user-form > .user-form .input-group-addon {
	color: #000;
	/*border-color: rgb(218, 215, 212);*/
	border-color: rgb(187, 187, 187);
}

.user-form > .user-form .input-group input.form-control {
	color: #000;
	/*border-color: rgb(218, 215, 212);*/
	border-color: rgb(187, 187, 187);
}

.user-form > .user-form .or {
	color: #3D3D66;
	background-color: #fff;
	border: 0; 
	width: 40px;
	height: 40px;
	top: -20px;
	left: 50%;
	margin-left: -20px;
	line-height: 40px;
	padding: 0 10px;
	z-index: 1;
}

.user-form > .user-form .social-login {
	/*border-color: #ececec;*/
	border-color: #e8e8e8;
	padding-top: 40px;
}

.user-form  > .user-form > .login-block {
	background-color: transparent;
}

.user-form .sky-form {
	border: 0;
}

/* Placeholder */
.user-form ::-webkit-input-placeholder {
  color: #888;
}
.user-form ::-moz-placeholder {
  color: #888;
}
.user-form :-ms-input-placeholder {
  color: #888;
}

@media only screen and (max-width : 480px) {

	.user-form > .user-form {
		width: 100%;
		padding: 55px 15px;
	}

}