body {
	background-color: #fff;
}

a {
	text-decoration: none !important;
}

a.button:visited {
	color: #fff;
}

a > i:last-child {
	margin-left: 5px;
}

a > img.before-text-icon {
	width: 20px;
	margin-top: -5px;
	margin-right: 10px;
}

h4 {
	line-height: 22px;
}

i.fa {
	font-size: 26px;
	color: rgb(117,117,117);
}

i.fa.sm {
	font-size: 15px;
	color: #fff;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #0071c5;
}

.line.only-space {
	height: 0;
}

.line.grey {
	background-color: #ccc;
}

.line.white {
	background-color: #fff;
}

.list-empty-message i {
	font-size: 140px;
	margin-bottom: 20px;
	color: rgb(66,133,244);
}

.list-empty-message h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}

.list-empty-message h4 {
	font-size: 16px;
	margin: 0 0 20px 0;
}

h3 > img {
	width: 30px;
	margin-right: 10px;
}

h4 > img {
	width: 25px;
	margin-right: 8px;
}

h4 > img.lg {
	width: 70px;
	margin-right: 10px;
}

h5 > img {
	width: 30px;
	margin-right: 8px;
	background-color: #C8E6C9;
	padding: 5px;
}

h5 > img.provider-logo {
	padding: 0;
	background-color: transparent;
}

.text-strike {
	text-align: center;
}

.text-strike span {
	color: rgb(47,97,186);
	background-color: #fff;
	padding: 0 12px;
	font-size: 22px;
}

.text-strike .line {
	margin-top: -13px;
	background-color: rgb(47,97,186);
}

.bg-transparent {
	background-color: transparent !important;
}

.space-top-bottom-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.space-top-bottom-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.space-top-bottom-30 {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.space-top-bottom-40 {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.space-top-bottom-50 {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.space-top-bottom-80 {
	margin-top: 80px !important;
	margin-bottom: 80px !important;
}

.space-top-bottom-100 {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
}

.space-top-bottom-120 {
	margin-top: 120px !important;
	margin-bottom: 120px !important;
}

.space-top-10 {
	margin-top: 10px !important;
}

.space-top-20 {
	margin-top: 20px !important;
}

.space-top-30 {
	margin-top: 30px !important;
}

.space-top-40 {
	margin-top: 40px !important;
}

.space-top-50 {
	margin-top: 50px !important;
}

.space-top-100 {
	margin-top: 100px !important;
}

.space-bottom-5 {
	margin-bottom: 5px !important;
}

.space-bottom-10 {
	margin-bottom: 10px !important;
}

.space-bottom-20 {
	margin-bottom: 20px !important;
}

.space-bottom-30 {
	margin-bottom: 30px !important;
}

.space-bottom-40 {
	margin-bottom: 40px !important;
}

.space-bottom-50 {
	margin-bottom: 50px !important;
}

.space-bottom-100 {
	margin-bottom: 100px !important;
}

.space-bottom-120 {
	margin-bottom: 120px !important;
}

.space-bottom-240 {
	margin-bottom: 240px !important;
}

.padding-10 {
	padding: 10px !important;
}

.padding-15 {
	padding: 15px !important;
}

.padding-20 {
	padding: 20px !important;
}

.padding-left-right-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.padding-left-right-15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-border {
	border: 0 !important;
}

.no-border-bottom {
	border-bottom: 0 !important;
}

.elem-center {
	margin: 0 auto !important;
	display: block;
}

.line-height-22 {
	line-height: 22px !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.breadcrumb {
	padding: 0;
	background-color: #fff;
}

.global-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	display: block;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(20,27,32,.5);
	transition: all .2s ease-out;
}

.global-overlay.isvisible {
  visibility: visible;
  opacity: 1;
}

.top-header-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
	position: relative;
}

.top-header-wrapper.top-header-border {
	padding: 10px 0;
	border-bottom: 1px solid #1565C0;
}

.top-header {
	margin: 0 auto;
	padding: 20px 0 0;
	position: relative;
}

.top-header .header-info {
	margin-top: 30px;
}

.top-header .image-tile {
	width: 100%;
	height: 250px;
	background-image: url(/images/common/image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200px;
}

.top-header .header-primary-image {
	width: 100%;
	height: 250px;
	margin: 0 auto;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.container-header {
	margin: 20px 0 0;
}

.container-header .title {
	font-size: 25px;
	line-height: 50px;
}

.container-header a.button {
	background-color: #448AFF;
}

/*.sign {
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	color: #fff;
	font-size: 14px;
}

.sign.wide {
	display: block;
}

.sign.info {
	background-color: rgb(44,89,169);
}

.sign.success {
	background-color: #388E3C;
}*/

.hide-element {
	display: none;
}

.hide-element-imp {
	display: none !important;
}

.text-line-through {
	text-decoration: line-through;
}

.article-title {
	color: #0071c5;
}

.color-teal {
	color: #00897b;
}

.color-pink {
	color: #ad1457;
}

.color-orange {
	color: #fb8c00;
}

.color-white {
	color: #fff !important;
}

.color-blue {
	color: rgb(66,133,244) !important;
}

.color-blue-2 {
	color: #0277BD !important;
}

.border-color-amber {
	border-color: #FFCA28 !important;
}

.article-content .paragraph {
	max-width: 760px;
	line-height: 22px;
}

.product-discount-tag {
	padding: 4px 8px;
	font-size: 18px;
	white-space: nowrap;
	background-color: #FFCDD2;
	color: #D50000;
}

.nav-group > a {
	display: block;
}

.inline-flag-group {
	margin-top: 5px;
}

.inline-flag {
	color: #222;
	display: inline-block;
}

.inline-flag > img {
	height: 20px;
	margin-top: -5px;
}

.inline-flag .flag-count {
	color: #fff;
  background-color: #D50000;
  padding: 5px 10px;
}

#selected_target_area {
	min-height: 60px;
}