.button {
	color: #fff;
	text-decoration: none !important;
	background-color: #2979FF;
	padding: 10px 25px;
	border: 0;
	display: inline-block;
	cursor: pointer;
}

.button > img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: -5px;
}

a.button:hover {
	color: #fff;
}

.button.warning {
	background-color: #D50000;
}

.button.success {
	background-color: rgb(0,168,112);
}

.button.disabled {
	background-color: #aaaaaa;
	cursor: default;
}

.button.half-button {
	width: 49%;
	text-align: center;
}

.button.wide-button {
	width: 100%;
	text-align: center;
}

.icon-button-round {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  background-color: #ececec;
  display: block;
  cursor: pointer;
}

.icon-button-round.right-icon {
	background-image: url(/images/icons/right.png);
}

.icon-button-round.close-icon {
	background-image: url(/images/icons/close-red.png);
}

.button-group > .button {
	margin-bottom: 5px;
}

@media only screen and (max-width : 320px) {
  .button-group > .button {
  	width: 100%;
  }
}