body {
	color: #fff;
  background-color: #2e3d50;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

dt {
	color: #FF3D00;
	margin-top: 20px;
}

textarea.cke_source {
	color: #000 !important;
}

label {
	color: #fff;
}

.form-group > span {
	color: #fff;
}

input[type="text"], input[type="password"] {
	width: 100%;
}

table {
	color: #000;
	background-color: #fff;
}

/*table.table-summary {
	background-color: #fff;
}*/

table.table-summary thead {
	color: #fff;
	background-color: #1f4b8e;
}

.table-striped > tbody > tr:nth-of-type(even) {
	background-color: #ececec;
}

.no-margin {
	margin: 0 !important;
}

.transfer-slip {
	width: 100%;
}