.btn-u.btn-custom {
	width: 100%;
	color: #fff;
  background-color: #05AF3C;
  text-align: center;
  font-size: 14px;
  padding: 0;
  height: 42px;
  line-height: 42px;
}

.btn-u.btn-custom:hover {
	background-color: #05AF3C;
}

.btn-u.btn-custom.disabled {
	background-color: #999;
}

.btn-u.btn-custom.half {
	width: 50%;
}

.btn-u.btn-custom > i {
	font-size: 14px;
	float: none;
	margin: 0 5px 0 0;
}

.btn-u.btn-custom-color {
	background-color: #05AF3C;
}

.btn-u.btn-line,
.btn-u.btn-line:focus {
	background-color: transparent;
	border: 1px solid #fff;
}

.btn-u.btn-line:hover {
	background-color: rgba(240,240,240,.2);
}

.btn-share {
	color: #fff;
	border: 0;
	width: 34px;
	line-height: 34px;
}

.btn-share > i {
	color: #fff;
	font-size: 14px;
	margin: 0;
	float: none;
}

.btn-facebook.btn-share {
	background-color: #4863ae;
}

.btn-twitter.btn-share {
	background-color: #46c0fb;
}

.btn-googleplus.btn-share {
	background-color: #dd4a38;
}