a {
	color: #2752ff;
}

a:hover {
	color: #2752ff;
	text-decoration: none;
}

hr {
	border-color: #05AF3C;
}

.main-color {
	background-color: #05AF3C;
}

.margin-top-40 {margin-top: 40px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-100 {margin-top: 100px;}

.no-margin {margin: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}

.margin-right-50 {margin-right: 50px !important;}

.padding-15 {padding: 15px !important;}

.padding-bottom-100 {padding-bottom: 100px;}

.navbar-default .navbar-toggle {
	border: 0;
}

.pagination > li > a, .pagination > li > span {
	border: 0;
}

form .state-error + em {
	color: red;
	font-size: 13px;
	display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  line-height: 15px;
}

.modal-dialog .modal-body p {
	font-size: 14px;
}

.tag-box-v2 {
	background-color: #E0F2F1;
	margin-bottom: 10px;
}

.ui-datepicker {
	z-index: 9 !important;
}

.ui-datepicker-calendar span {
	width: 6px !important;
}

.header .logo img {
	margin: 0;
	height: 60px;
}

.fixed-header {
	position: relative;
	height: 80px;
}

.fixed-header .navbar-fixed-top .profile-image {
	color: #fff;
	position: absolute;
	top: 12px;
	right: 10px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #ececec;
	border-radius: 40px;
	overflow: hidden;
}

.fixed-header .navbar-fixed-top .profile-image img {
	width: 40px;
}

.fixed-header .navbar-fixed-top .profile-image i {
	color: #263238;
	font-size: 44px;
	text-align: center;
	display: block;
}

.login-block, .reg-block {
	min-width: 200px; 
}

.cbp-l-caption-alignCenter {
	display: block;
}

.cbp-l-caption-alignCenter .cbp-l-caption-body {
	display: block;
	margin-top: 22%;
}

h2 > img.provider-logo {
	width: 30px;
}

.bank-account-detail > .display-mobile {
	display: none;
}

.select-group.half > label.select {
	width: 49%;
	display: inline-block;
}

.select-group.half > label.select:nth-child(2) {
	margin-left: 1%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #ececec;
	background-color: #1f4b8e;
}

/* Header background */
.charity-header.one-page-header.navbar {
  /*background: transparent;*/
  background-color: rgb(49,53,62);
}

/* Logo */
.one-page-header.charity-header .navbar-brand {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	height: auto;
	padding: 10px 15px 10px 0;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}

.one-page-header.charity-header .navbar-brand img {
	margin: 0 auto;
	max-height: 43px;
}
.navbar-brand > img.shrink-logo {
	display: none;
}
.top-nav-collapse .navbar-brand > img.shrink-logo {
	display: block;
}
.top-nav-collapse .navbar-brand > img.default-logo {
	display: none;
}

/* Header menu and menu items */
.one-page-header.charity-header .navbar-collapse {
  padding-top: 10px;
}
.one-page-header.charity-header .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: transparent;
  padding: 17px 0 17px 24px;
}
.one-page-header.charity-header .navbar-nav > li > a:hover {
	background-color: transparent;
}

@media (max-width: 991px) {
	.one-page-header.charity-header .navbar-collapse {
	  padding: 10px 0 5px;
	  background: rgba(255,255,255,1);
	  /*background-color: rgba(49, 53, 62, 0.8);*/
	}
	.one-page-header.charity-header .navbar-collapse .navbar-nav > li > a {
		color: #777;
		/*color: #fff;*/
		padding: 7px 15px;
	}
	.one-page-header.charity-header.top-nav-collapse .navbar-collapse .navbar-nav > li > a {
		/*padding: 7px 0;*/
	}
}

/* Removing the little circles */
.one-page-header.charity-header .navbar-nav > li > a:before {
    display: none;
}

/* Menu items on hover and active */
.one-page-header.charity-header .navbar-nav > li > a:hover,
.one-page-header.charity-header .navbar-nav > li.active > a:hover,
.one-page-header.charity-header .navbar-nav > li.active > a:focus,
.one-page-header.charity-header .navbar-nav > li.active > a {
	/*color: #f5f219 !important;*/
	color: #05AF3C !important;
}

/* Toggle button below 992px */
.charity-header .navbar-toggle {
	margin: 15px 0 0;
}

/* Responsive */
@media (max-width: 991px) and (min-width: 992px) {
	.charity-header.one-page-header .navbar-brand {
		font-size: 15px;
	}

	.one-page-header.charity-header .navbar-nav > li > a {
    padding: 17px 8px;
    font-size: 9px;
	}
}

/* header on scroll */
.charity-header.one-page-header.top-nav-collapse {
    background-color: #fff;
    /*background-color: rgba(49,53,62,.8);*/
    /*background-color: rgba(255,255,255,.7);*/
}

.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav > li > a {
    color: #777;
}

.one-page-header.top-nav-collapse .navbar-toggle:hover .icon-bar {
    /*background: #f5f219;*/
    background-color: #555;
}

/* Header transition on scroll */
@media (min-width: 992px) {
	.charity-header.one-page-header.navbar {
    padding: 8px 0px;
    transition: background 0.3s ease-in-out 0s, padding 0.3s ease-in-out 0s;
	}

	.charity-header.one-page-header.top-nav-collapse {
	  padding: 5px 0px;
	}
}

@media only screen and (max-width : 480px) {

	.fixed-header {
		height: 63px;
	}

	.bank-account-detail > table {
		display: none;
	}

	.bank-account-detail > .display-mobile {
		display: block;
	}

}