a {
	color: #2752ff;
}

a:hover {
	color: #2752ff;
	text-decoration: none;
}

hr {
	border-color: #05AF3C;
}

.margin-top-40 {margin-top: 40px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-100 {margin-top: 100px;}

.no-margin- {margin: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}

.padding-15 {padding: 15px !important;}

form .state-error + em {
	color: red;
	font-size: 13px;
	display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  line-height: 15px;
}

.tag-box-v2 {
	background-color: #E0F2F1;
	margin-bottom: 10px;
}

.ui-datepicker {
	z-index: 9 !important;
}

.ui-datepicker-calendar span {
	width: 6px !important;
}

.header .logo img {
	margin: 0;
	height: 60px;
}

.fixed-header {
	position: relative;
	height: 60px;
}

.fixed-header > .header-logo-mobile {
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #F1EEEA;
	text-align: center;
	display: none;
}

.header-logo-mobile a {
	display: inline-block;
}

.header-logo-mobile img {
	height: 60px;
}

.fixed-header > .header {
	position: fixed;
	width: 100%;
	height: 60px;
	border: 0;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
	z-index: 90;
}

.header .navbar-toggle {
	margin: 14px 0;
}

.login-block, .reg-block {
	min-width: 200px; 
}

.cbp-l-caption-alignCenter {
	display: block;
}

.cbp-l-caption-alignCenter .cbp-l-caption-body {
	display: block;
	margin-top: 22%;
}

h2 > img.provider-logo {
	width: 30px;
}

.bank-account-detail > .display-mobile {
	display: none;
}

.select-group.half > label.select {
	width: 49%;
	display: inline-block;
}

.select-group.half > label.select:nth-child(2) {
	margin-left: 1%;
}

@media only screen and (max-width : 480px) {
  
	.fixed-header > .header-logo-mobile {
		display: block;
	}

	.header .logo {
		display: none;
	}

	.bank-account-detail > table {
		display: none;
	}

	.bank-account-detail > .display-mobile {
		display: block;
	}

}