a, li a {
	color: #2752ff;
}

a:hover, li a:hover {
	color: #2752ff;
	text-decoration: none;
}

hr {
	border-color: #05AF3C;
}

.alert.alert-inline-block {
	display: inline-block !important;
}

.sky-form {
	border: 0;
}

.sky-form .input > .cc-input {
	font-family: monospace;
	font-size: 18px;
}

.sky-form .radio:last-child, .sky-form .checkbox:last-child {
	font-size: 16px;
}

.sky-form .radio i, .sky-form .checkbox i{
	background-color: #ececec;
	border-color: #777;
}

.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i {
	border-color: #777;
}

.sky-form .radio input + i:after {
	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	background-color: #000;
}

.sky-form .checkbox input + i:after {
	top: 0;
	font-size: 15px;
	color: #000;
}

.testimonials-v4 img {
	width: 40px;
	height: 40px;
	margin-left: 0;
}

.testimonials-v4 .testimonials-author {
	padding-top: 0;
}

.team-v4.people-list .people-list-item {
	margin-bottom: 50px;
}

.team-v4.people-list .people-list-item {
	margin-bottom: 50px;
}

.team-v4.people-list img {
	width: 100px;
	height: 100px;
	margin: 4px auto 40px;
	border-radius: 100px;
}

.tab-v1 .nav-tabs.tab-border-bottom {
	border-bottom: 1px solid #ccc;
}

.tab-v1 .nav-tabs > li > a {
	color: #000;
}

.tab-v1 .nav-tabs > li > a:focus {
	color: #555;
	background-color: #fff;
}

.nav-tabs span.badge {
	top: 5px;
	right: -6px;
	position: absolute;
}

.tab-content > .tab-pane {
	min-height: 200px;
}

.tab-content .description img {
	width: 100%;
	height: auto;
}

.tab-content .tab-pane > .panel-heading {
	margin-bottom: 20px;
}

.tab-v1 .tab-content img {
	margin: 0;
}

.tab-v1 .panel-heading {
	color: #444;
	border-bottom: 0;
}

.tab-pane .parallax-quote {
	padding: 50px 0;
}

.people-list-item .profile-image i {
	color: #fff;
	font-size: 110px;
	text-align: center;
	display: block;
}

.people-list-item .profile-image .user-avatar {
	width: 100%;
	height: 100%;
}

.custom-search-bar {
	padding: 10px 0 20px;
	border-bottom: 1px solid #2752ff;
	/*background-color: #ececec;*/
	/*background-color: #1f4b8e;*/
	/*background-color: #607D8B;*/
}

.custom-search-bar .search-box {
	margin-bottom: 10px;
}

.custom-search-bar .search-box .fa {
	color: #222;
}

.no-margin {margin: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}

.margin-top-40 {margin-top: 40px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-100 {margin-top: 100px !important;}

.margin-right-50 {margin-right: 50px !important;}

.margin-bottom-200 {margin-bottom: 200px;}
.margin-bottom-300 {margin-bottom: 300px;}
.margin-bottom-400 {margin-bottom: 400px;}

.no-padding {padding: 0 !important;}

.padding-15 {padding: 15px !important;}

.padding-bottom-40 {padding-bottom: 40px;}
.padding-bottom-100 {padding-bottom: 100px;}