.news-v3.custom-item-list {
	margin-bottom: 30px;
	border: 1px solid #ced3db;
}

.news-v3 h2 a {
	font-size: 18px;
}

.custom-item-list .full-width-cover {
	width: 100%;
	height: 220px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #bbb;
}

.news-v3.custom-item-list .news-v3-in-sm {
	background-color: #fff !important;
}

.news-v3.custom-item-list .main-content {
	height: 80px;
	color: #95959E;
	font-size: 16px;
	overflow: hidden;
}

.news-v3.custom-item-list small {
	color: #626369;
	font-size: 11.9px;
}

.news-v3.custom-item-list .main-content a {
	color: #2752ff;
	text-decoration: none;
}

.news-v3.custom-item-list .main-content img {
	width: 30px;
	height: 30px;
	/*border-radius: 30px;*/
	margin-right: 8px;
}

/*.news-v3 p {
	height: 60px;
	overflow: hidden;
}*/

.news-v3.custom-item-list .donation-box {
	padding: 0;
	background-color: transparent;
}

.news-v3 .project-by-charity .charity-logo {
	width: 30px;
	height: 30px;
	/*border-radius: 30px;*/
	margin-right: 4px;
}

.news-v3 .project-by-charity span {
	color: #000;
}

.news-v3.custom-item-list .donation-box .statistics .heading-xs {
	color: #000;
}

.news-v1 .news-v1-in {
	border: 1px solid #ced3db;
}

.news-v1-in img {
	width: 360px;
	height: 210px;
	background-color: #bbb;
}

.news-v1-in p {
	height: 60px;
}

@media (min-width: 1200px) {
	.container.list-container {
		width: 1275px;
	}
}

@media only screen and (max-width : 1200px) {
	.news-v3.custom-item-list .full-width-cover {
		height: 240px;
	}
}

@media only screen and (max-width : 1024px) {
	.news-v3.custom-item-list .full-width-cover {
		height: 253px;
	}
}

@media only screen and (max-width : 768px) {
	.news-v3.custom-item-list .full-width-cover {
		height: 192px;
	}
}

@media only screen and (max-width : 480px) {
	.news-v3.custom-item-list {
		margin-left: 15px;
		margin-right: 15px;
	}

	.news-v3.custom-item-list .full-width-cover {
		height: 198px;
	}

	.donation-box .counter {
		font-size: 18px;
	}

	.list .search-block h1 {
		font-size: 28px;
		margin-top: 0;
	}
}

@media only screen and (max-width : 375px) {
	.news-v3.custom-item-list .full-width-cover {
		height: 176px;
	}
}

@media only screen and (max-width : 320px) {
	.news-v3.custom-item-list {
		margin-left: 0;
		margin-right: 0;
	}

	.news-v3.custom-item-list .full-width-cover {
		height: 162px;
	}
}