.navbar-fixed-top .profile-image {
	color: #fff;
	position: absolute;
	top: 17px;
	right: 10px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	border-radius: 40px;
	overflow: hidden;
}

/*.navbar-fixed-top .profile-image img {
	width: 40px;
}*/

.navbar-fixed-top .profile-image i {
	color: #263238;
	font-size: 44px;
	text-align: center;
	display: block;
}

.navbar-fixed-top .profile-image .user-avatar {
	width: 40px;
	height: 40px;
}

@media only screen and (max-width : 480px) {

	.navbar-fixed-top .profile-image {
		top: 14px;
	}

}